/* basic page css */

header {
    text-align:center;
}
.main_box {
  border: 10px solid black;
  width: 99.9%;
  max-width: 10000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* or center, if you want it vertically centered next to the buttons */
}
.nav-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-right: 5px solid black;
    padding-right: 40px;
}
.main-bar-box {
    border:2px solid black;
    height:100px;
}
.name {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 100px;
    white-space: nowrap;
}
.projects {
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom:16px;
}
.misc {
    padding: 12px 40px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom:16px;
}
.header_pic {
width: 100%;
  height: 35vh;        /* try 30–45vh depending on taste */
  max-height: 400px;
  object-fit: cover;   /* crops instead of squishing/stretching */
  object-position: center; /* adjust to center on the interesting part */
  display: block;
  filter: contrast(130%); 
}
.linkedin {
    padding: 12px 40px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 16px;
}
.email {
    padding: 12px 40px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 16px;
}
.github {
    padding: 12px 40px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom:16px;
    
}
/* copy message to clipboard css */
.copy-message-linkedin {
  opacity: 0;
  margin-left: 10px;
  font-size: 14px;
  color: black;
  transition: opacity 0.3s ease;
}

.copy-message-linkedin.show {
  opacity: 1;
}
.copy-message-github {
  opacity: 0;
  margin-left: 10px;
  font-size: 14px;
  color: black;
  transition: opacity 0.3s ease;
}

.copy-message-github.show {
  opacity: 1;
}
.copy-message-email {
  opacity: 0;
  margin-left: 10px;
  font-size: 14px;
  color: black;
  transition: opacity 0.3s ease;
}

.copy-message-email.show {
  opacity: 1;
}